*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  	box-sizing: border-box;
  	background-color: #0e1a22;
}

input{
	background-color: #1b2e3c;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 7px 10px 7px 10px;
	font-size: 18px;
}

button{
	background-color: #1b2e3c;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 7px 10px 7px 10px;
	font-size: 18px;
	cursor: pointer;
	transition: 0.2s ease;
}

button:hover{
	background-color: #1d3342;
  	filter: brightness(125%);
}

a{
	background-color: #1b2e3c;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	padding: 7px 10px 7px 10px;
	font-size: 18px;
	transition: 0.2s ease;
}

a:hover{
	background-color: #1d3342;
  	filter: brightness(125%);
}

p{
	background-color: #1b2e3c;
	color: #fff;
	font-size: 18px;
	border-radius: 3px;
	padding: 7px 10px 7px 10px;
	width: 152px;
	text-align: center;
	float: right;
	height: 100%;
}

section{
	width: 585px;
	padding: 20px 0px 0px 20px;
}